<form class="example-form" [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="dataForm">

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Nick</mat-label>
        <input matInput formControlName="nickName">
        <mat-error *ngIf="nickName.hasError('required')">Este campo es Obligatorio*</mat-error>
        <mat-error *ngIf="nickName.hasError('minlength')">Debe tener minimo 3 caractéres*</mat-error>
        <mat-error *ngIf="nickName.hasError('maxlength')">Debe tener maximo 20 caractéres*</mat-error>

      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico </mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="email.hasError('required')">Este campo es Obligatorio*</mat-error>
        <mat-error *ngIf="email.hasError('pattern')">Ingrese un email valido*</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput (keyup)="addPasswordContent()" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('required')">Este campo es Obligatorio*</mat-error>
        <mat-error *ngIf="password.hasError('minlength')">Debe tener minimo 8 caractéres*</mat-error>
        <mat-error *ngIf="password.hasError('maxlength')">Debe tener maximo 20 caractéres*</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Confirmar Contraseña </mat-label>
        <input matInput formControlName="passwordConfirm" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordConfirm.hasError('minlength')">Debe tener minimo 8 caractéres*</mat-error>
        <mat-error *ngIf="passwordConfirm.hasError('maxlength')">Debe tener maximo 20 caractéres*</mat-error>


      </mat-form-field>
    </p>

    <mat-error *ngIf="unvalidSave">Las contraseñas no coinciden</mat-error>
    <button mat-stroked-button color="" [disabled]="registerForm.invalid" class="btn-block" type="submit">Crear una cuenta</button>

    </div>
  </form>
