<footer>
    <span>{{title}} © {{anio}}</span>
    <span>Términos y condiciones</span>
    <span>
        <div class="button-container">
            <button mat-mini-fab color="primary" aria-label="Example" class="btn-separater">
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-mini-fab color="primary" aria-label="Example" class="btn-separater">
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-mini-fab color="primary" aria-label="Example" class="btn-separater">
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-mini-fab color="primary" aria-label="Example" class="btn-separater">
                <mat-icon>facebook</mat-icon>
            </button>
        </div>
    </span>
</footer>
